# Variables et types

## Généralité sur les variables :
- Déclarer une variable
- Analyser son type
- Réaffecter une valeur d'un autre type
- Utiliser un mot clé du langage

In [26]:
a = 5
type(a)
a = 3.5
type(a)
#while = 7
#type(while)

float

## Les différents types numériques
- entier
- réel
- booléen

In [27]:
a = 5
b = 2.7
c = 5.0
d = True
type(a), type(b), type(c), type(d)

(int, float, float, bool)

# Affectation
- Affectation mutliple
- Echange de valeurs
- Affectation multiple de valeur identique

In [28]:
v1, v2, v3 = 5, 7, 9
print(v1, v2, v3)

v1, v2 = v2, v1
print(v1, v2, v3)

v1 = v2 = v3 = 11
print(v1, v2, v3)

5 7 9
7 5 9
11 11 11

## Nombres entiers
- Visualisons les types des résultats des opérations de base

In [29]:
entier1 = 2
entier2 = 3
entier3 = entier1 + entier2
print('Entier3', entier3, type(entier3))

# le résultat devient un décimal
resultat1 = entier1 / entier2
print('Resultat1', resultat1, type(resultat1))

# Résultat de la division entière
resultat2 = entier1 // entier2
print('Resultat2', resultat2, type(resultat2))

# Reste de la division entière
resultat3 = entier1 % entier2
print('Resultat3', resultat3, type(resultat3))

# Solution et Reste
resultat4, resultat5 = divmod(entier1, entier2)
print('Solution', resultat4, type(resultat4), 'reste', resultat5, type(resultat5))

Entier3 5 <class 'int'>
Resultat1 0.6666666666666666 <class 'float'>
Resultat2 0 <class 'int'>
Resultat3 2 <class 'int'>
Solution 0 <class 'int'> reste 2 <class 'int'>

## Nombres réels
- Visualisons les types des résultats des opérations de base

In [30]:
decimal1 = 2.5
decimal2 = 3.6
decimal3 = decimal1 + decimal2
print('Decimal3', decimal3, type(decimal3))

decimal4 = float(7)
print('Decimal4', decimal4, type(decimal4))

decimal5 = 9.0
print('Decimal5', decimal5, type(decimal5))

resultat1 = decimal1 / decimal2
print('Resultat1', resultat1, type(resultat1))

# Résultat de la division entière
resultat2 = decimal1 // decimal2
print('Resultat2', resultat2, type(resultat2))

# Reste de la division entière
resultat3 = decimal1 % decimal2
print('Resultat3', resultat3, type(resultat3))

# Solution et Reste
resultat4, resultat5 = divmod(decimal1, decimal2)
print('Solution', resultat4, type(resultat4), 'reste', resultat5, type(resultat5))

Decimal3 6.1 <class 'float'>
Decimal4 7.0 <class 'float'>
Decimal5 9.0 <class 'float'>
Resultat1 0.6944444444444444 <class 'float'>
Resultat2 0.0 <class 'float'>
Resultat3 2.5 <class 'float'>
Solution 0.0 <class 'float'> reste 2.5 <class 'float'>

## Valeurs booléennes
- Valeurs True et False
- Opérateurs logiques : not, or, and
- Affectation d'un test
- Equivalence booléenne

In [31]:
valeurVrai = True
valeurFaux = False

print('Non Vrai', not valeurVrai)
print('Non Faux', not valeurFaux)
print('Opérateur et', valeurVrai and valeurFaux)
print('Opérateur ou', valeurVrai or valeurFaux)

valeurBool1 = 1 < 4
print('ValeurBool1', valeurBool1)
valeurBool2 = 1 > 4
print('valeurBool2', valeurBool2)
valeurBool3 = 2 == 2
print('valeurBool3', valeurBool3)
valeurBool4 = 2 != 2
print('valeurBool4', valeurBool4)
valeurBool5 = '2' < '14'
print('valeurBool5', valeurBool5)

# 0 est faux, le reste est vrai
valeurBool6 = bool(0)
print('valeurBool6', valeurBool6)
valeurBool7 = bool(1)
print('valeurBool7', valeurBool7)

# Vide est faux, le reste est vrai
valeurBool8 = bool('')
print('valeurBool8', valeurBool8)
valeurBool9 = bool('bla bla')
print('valeurBool9', valeurBool9)
valeurBool10 = bool([])
print('valeurBool10', valeurBool10)
valeurBool11 = bool([1, 2, 3])
print('valeurBool11', valeurBool11)

Non Vrai False
Non Faux True
Opérateur et False
Opérateur ou True
ValeurBool1 True
valeurBool2 False
valeurBool3 True
valeurBool4 False
valeurBool5 False
valeurBool6 False
valeurBool7 True
valeurBool8 False
valeurBool9 True
valeurBool10 False
valeurBool11 True

## Transtypage

In [32]:
entier1 = 5
decimal1 = 3.6

print(entier1, 'converti en decimal', float(entier1))
print(decimal1, 'converti en entier', int(decimal1))

5 converti en decimal 5.0
3.6 converti en entier 3